{% extends 'bookings/header.html' %}

{% block content %}
  <h1>Hotel Booking System</h1>
  <p>{{ bookings }}</p>
  <p>{{ bookings_per_room }}</p>
      
  <table>
    <tr>
      {% for date in dates %}
        <th>{{ date }}</th>
      {% endfor %}
    </tr>

  

      {% if booking_list %}
        
        {% for room in booking_list %}
          <tr>
              {% for booking in room %}
                <td>{{ booking }}</td>
              {% endfor %}
          </tr>  
        {% endfor %}
        
  </table>    
    
      {% endif %}
{% endblock %}

	
