h1, h5 {
  text-align: center;
}

table {
  border: 1px solid rgba(63, 63, 63, 0.6);
  background-color:beige;
  width: 100%;
  border-collapse: separate;
  border-radius: 3px;
}

td, th {
  border: 1px solid rgba(120, 119, 119, 0.6);
  text-align: center;
}

a {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
}

.booking {
  background-color: rgba(52, 235, 183, 0.25);
}

.empty {
  background-color: rgba(235, 213, 52, 0.5);
}

.room_nr {
  background-color: rgba(143, 143, 143, 0.5);
}

.date {
  background-color: rgba(120, 119, 119, 0.6);
}